/obj
/Source/obj
Source/SaveStorageSettingsUtil/obj/
/Assemblies/
/Source/.vs/
/Source/obj/
Thumbs.db
/Assembly-CSharp.dll
/UnityEngine.dll
/.vs
/Source/bin/Debug/SaveStorageSettings
/Source/bin/Debug
/Source/SaveStorageSettingsUtil/bin/Debug
